.overlay {
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.match {
    bottom: -100px;
    
}
.match-text {
    color: red;
    text-align: center;
}

div.container {
    margin-top: 67px; 
}

.card {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #63474736;
}
.card-text {
    display: block;
    margin-bottom: 90px;
}

div.carousel {
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    max-width: 600px; 
}

img.d-block {
    width: 40vw;
    height: 67vh;
    object-fit: scale-down;
}
.carousel-control-prev { 
    bottom: 33%;
}

.carousel-control-next { 
    bottom: 33%
}
.name {
    position: absolute;
    margin: auto; 
    padding: 10px;
    bottom: 15%;
    width: 100%;
    text-shadow: 1px 1px 10px #000000;
    color: white
}
.btns {
    position: absolute;
    margin: auto; 
    padding: 10px;
    bottom: 0%;
    width: 100%;
}

.btn-like { 
    border-radius: 71px;
    float: left;
    height: 10vh;
    width: 10vw;
}

.btn-dislike { 
    float: right;
    border-radius: 71px;
    height: 10vh;
    width: 10vw; 
}

.description {
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    height: auto;
    max-width: 600px; 
}

.like-text {
    background-image: url('../../assets/like.png');
    height: 24px;
    width: 24px;
    margin: auto;
}
.dislike-text {
    background-image: url('../../assets/dislike.png');
    height: 24px;
    width: 24px;
    margin: auto;
}
.spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    margin-bottom: 50%;
}