<header class="header">
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
        <a class="navbar-brand" data-target="#" role="banner">Tinder-like application</a>

        <div class="collapse navbar-collapse" id="navbarsDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" data-target="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#">О сайте</a>
                </li>
            </ul>
        </div>
    </nav> 
    
</header>
